@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
}

/*Zona Navbar*/
.navbar {
    background-color: #FFF;
}

.foto-y-estado {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 0.1rem solid #BEC1BB;
}

.img-photo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    padding-left: 1vw;
}

.img-photo img {
    height: 5vh;
    border-radius: 50%;
}

.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 8vw;
    gap: 1rem;
    color: #949596;
}

.icono {
    font-size: 1.5rem;
}
.nombre-y-estado{
    padding-left: 1vh;
}
.nombre{
    font-size: 1.2rem;
}
.actividad{
    font-size: 0.8rem;
    color: #BEC1BB;
    padding-top: 0.1rem;
}

/*Zona Boton*/
.boton-nuevo-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    border-right: 0.1rem solid #BEC1BB;
    border-top: 0.1rem solid #BEC1BB;
    border-bottom: 0.1rem solid #BEC1BB;
}

.boton {
    height: 6vh;
    width: 12vw;
    font-size: 1rem;
    background-color: #A491D2;
    color: #FFF;
    border: none;
}

/*Zona Contacto*/
.contactos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1vw;
    border-right: 0.1rem solid #BEC1BB;
}

.contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
}

.imagen-contacto img {
    height: 7vh;
    border-radius: 50%;
}
.contacto-mensaje{
    padding-left: 1vh;
}

/*Zona Main*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    flex-grow: 1;
}

.img-networking {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-networking img {
    height: 30vh;
    border-radius: 5%;
}

.textos-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2vh;
}

.textos-main h1 {
    font-size: 3rem;
}

.textos-main p {
    text-align: center;
    width: 25vw;
}